<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815879684180-671ckti7ajn8ielk6upbbidcc8bmn1u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815879684180-671ckti7ajn8ielk6upbbidcc8bmn1u3</string>
	<key>API_KEY</key>
	<string>AIzaSyACI905g6Jg_etlg54l8CyLoBvm4CRS1nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>815879684180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jkbartley25-yahoo.VUCCI</string>
	<key>PROJECT_ID</key>
	<string>vucci-81dfd</string>
	<key>STORAGE_BUCKET</key>
	<string>vucci-81dfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815879684180:ios:5d688259d8345276f22dc1</string>
</dict>
</plist>